<div  class="container" style="overflow-x:auto;">
    <details-app  [usersData]="selectedUsers" [isSelected]="isSelected"></details-app>
    <br/>
	<h3>User Information</h3>
	<table>
		<thead>
			<tr>
        <th class="text-center">
          <input type="checkbox" (change)="selectAllUsers($event)"  [checked]="topChecked"/>
        </th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Country</th>
        <th>Date Joined</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users | slice: startRow-1 : endRow">
                <td class="text-center">
                <input type="checkbox" (change)="selectedUser(user,$event)" [checked]="selectedAll"/>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.accountNumber}}</td>
                <td>{{user.country}}</td>
                <td>{{user.dateJoined}}</td>
			</tr>
		</tbody>
	</table>
  <br/>
    <pagination [totalCount]="totalCount"  (dataEvent)="receiveData($event)"></pagination>
</div>